root = "."
tmp_dir = "tmp"

[build]
  bin = "./tmp/api"
  cmd = "go build -o ./tmp/api ./cmd/api"
  delay = 1000
  exclude_dir = ["tmp", "vendor", "testutil", "migrations"]
  exclude_file = []
  exclude_regex = ["_test.go"]
  exclude_unchanged = false
  follow_symlink = false
  full_bin = ""
  include_dir = []
  include_ext = ["go", "toml", "yaml"]
  kill_delay = "0s"
  log = "build-errors.log"
  send_interrupt = false
  stop_on_error = true

[color]
  app = ""
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"

[log]
  time = false

[misc]
  clean_on_exit = true
